<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Smart Agent</title>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.layouts.min.css">
    <link rel="font" href="bower_components/material-design-icons/material-design-icons-2.1.1/iconfont/MaterialIcons-Regular.woff2">
    <link ref="font" href="bower_components/material-design-icons/material-design-icons-2.1.1/iconfont/MaterialIcons-Regular.tiff">
    <link ref="module" href="node_modules/lodash">
    <link rel="stylesheet" href="index.css">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="node_modules/angular-messages/angular-messages.min.js"></script>
    <script src="app/services/mqtt.js"></script>
    <script src="app/services/discover.js"></script>
    <script src="app/services/music.js"></script>
    <script src="app/services/schedule.js"></script>
    <script src="app/ctrls/device.js"></script>
    <script src="app/ctrls/timer.js"></script>
    <script src="app/ctrls/system.js"></script>
    <script src="app/ctrls/sidemenu.js"></script>
    <script src="app/ctrls/music.js"></script>
    <script src="app/ctrls/main.js"></script>
	</head>
	<body ng-cloak layout="column" layout-fill ng-app="app" ng-controller="mainCtrl">
    <!-- Container #1 (see wireframe) -->
    <md-toolbar md-medium-tall layout="row" id="window-bar">
      <h3 style="padding-left:1em">Smart Agent</h3>
      <span flex></span>
      <div ui-view="topmenu"></div>
    </md-toolbar>

    <!-- Container #2 -->
    <div flex layout="row">

      <div layout="column">
        <!-- Container #3 -->
        <md-sidenav md-component-id="left" flex md-is-locked-open="true" layout="column" class="md-whiteframe-z2">
          <md-list ng-controller="SASideMenu" flex ng-cloak>
            <md-list-item ng-repeat="menu in menus">
              <md-button ng-href="#/{{menu.state}}" ng-class="{'md-primary md-raised':isCurrent($index)}" md-no-ink flex>
                <md-icon>{{menu.icon}}</md-icon>
                {{menu.title}}
              </md-button>
            </md-list-item>
          </md-list>

        <!-- 设备连接 -->
        <div style="border-top:1px solid rgba(0,0,0,0.15)" layout ng-controller="SADeviceManager">
          <md-button flex ng-if="!connected" ng-click="openDeviceDiscover($event)">
              <md-icon>cast</md-icon>
              搜索设备
          </md-button>

          <md-button flex ng-if="connected" ng-click="openDeviceDiscover($event)">
              <md-icon>cast_connected</md-icon>
              连接:{{device.model}}
          </md-button>
        </div>
        <!-- @end 设备连接 -->
        </md-sidenav>
      </div>


        <!-- Container #4 -->
        <md-content flex id="content" ui-view>

        </md-content>

    </div>
	</body>

</html>
