/**
 * Hide when Angular is not yet loaded and initialized
 */
[ng-cloak] {
    display: none;
    transition: all 1s;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(bower_components/material-design-icons/material-design-icons-2.1.1/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(bower_components/material-design-icons/material-design-icons-2.1.1/iconfont/MaterialIcons-Reqular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* 无边框窗体样式 */
#window-bar{
  -webkit-app-region: drag
}

*{
  -webkit-user-select: none;
}

h1,h2,h3,h4,h5,p,span,div,form{
  cursor: default;
}

html, body {
  height: 100%;
  width:100%;
  overflow: hidden;
}


.uninteractive{
  color: #ccc
}

/*修改Sidenav 宽度*/
md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 200px !important;
    width: 85px !important;
    max-width: 400px !important;
}

#content{
  /*overflow: hidden;*/
  /*padding:12px;*/
}

/*修改grid的样式*/

md-grid-list md-grid-tile{
  background-color: #eee !important;
  border-radius: 5px !important;
  height: 80px !important;
}

md-grid-list md-grid-tile .float-right{
  position: absolute;
  top:0;
  right:0;
  opacity: 0;
  transition: opacity 0.5s;
}

md-grid-list md-grid-tile:hover .float-right{
  opacity: 1;
}

md-grid-list md-grid-tile md-grid-tile-footer{
  height: 30px !important;
  text-align: center !important;
  border-radius: 0 0 5px 5px !important;
  background-color: #666 !important;
}

/**
 * 自定义列表样式
 */
.small-list{
  font-size:14px;
  list-style: none;
  margin:0;
  padding-left: 2em;
}

.small-list li{
  line-height: 2em;

}

.small-list li span{
  margin-left: 1em;
  -webkit-user-select:initial;
}

/*
 * 自定义时间表列表
 */
.schedule-list md-chip{
  line-height: 24px !important;
  height: 24px !important;
  font-size: 12px !important;
}
