<md-dialog ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>设备搜索</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="close($event)">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>


    <md-dialog-content>
      <div class="md-dialog-content">
        <!-- 搜索设备等待界面  -->
        <div layout="column"  layout-align="center center" ng-show="!devices">
          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
          <p>搜索设备...</p>
        </div>

        <!-- 设备列表界面 -->
        <div ng-show="devices">
          <md-list>
            <md-list-item ng-repeat="device in devices" ng-click="choose($index)">
              <md-icon>computer</md-icon>
              <h3>{{device.model}}</h3>
            </md-list-item>
          </md-list>
        </div>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
