<md-list>
  <md-list-item ng-cloak md-no-ink ng-repeat="item in schedule" layout ng-click="edit($event,$index)">
    <h3 style="display:block;width:120px">
      <md-icon style="margin-right:6px">alarm</md-icon>{{item.alarm}}
    </h3>

    <div class="md-list-item-text" flex>
      <md-chips ng-model="item.displayDw" readonly="true" class="schedule-list">
        <md-chip-template>
          <span>星期 {{$chip}}</span>
        </md-chip-template>
      </md-chips>
    </div>

    <md-icon flex="5" style="font-size:32px;">{{item.icon}}</md-icon>
    <md-divider></md-divider>
  </md-list-item>
</md-list>
